.navbar{
  position: relative;
  background-color: rgba(255,255,255,0.2);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #388087;
    font-weight: bolder;
    box-shadow: 2px 2px 25px #388087;
}


li a {
    display: block;
    background-color: #388087;
    text-align: center;
    padding: 2%;
    font-size: 1.7rem;
    color: whitesmoke;   
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: white;
    background-color: #387050;
  }
