body{
    font-family: sans-serif;
}
.report{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.map-details{
    display: flex;
    font-weight: bolder;
    flex-direction: column;
    justify-content: space-around;
    height: 20rem;
    font-size: 20px;
    margin-left: 10rem;
}
.map-details button{
    width: 18rem;
    font-weight: bolder;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.map-details button:hover{
    background-color: rgb(58, 58, 58);
    cursor: pointer;
}